<h1><%= title %></h1>
<form method="POST" action="/new">
    <div>
        <label for="message">Message:</label>
        <input type="text" id="message" name="message" required>
    </div>
    <div>
        <label for="user">User:</label>
        <input type="text" id="user" name="user" required>
    </div>
    <button type="submit">Submit</button>
</form>