<ul>
    <% messages.forEach(message => { %>
        <li>
            <strong><%= message.text %></strong> - <%= message.user %>
            <%= message.added %>
        </li>
        <% }) %>    
</ul>