<ul>
    <% messages.forEach(message => { %>
        <li>
            <a href="/messages/<%= message.id %>"><strong><%= message.text %></strong></a> - <%= message.user %>
            <%= message.added %></a>
        </li>
        <% }) %>    
</ul>